{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <h2><img src="https://www.wearephenix.com/wp-content/themes/phenix/assets/img/decorations/triforce-yellow.svg" alt="" class="details-yellow1">Donnez, récupérez et cultivez gratuitement autour de chez-vous</h2>
    <img src="https://www.wearephenix.com/wp-content/themes/phenix/assets/img/decorations/doubletroubles-yellow.svg" alt="" class="details-yellow2">
		<p class="button-flex text-center">Voilà le topo : des tonnes de produits sont gaspillés tous les jours, des millions de Français n’ont pas assez, <br/>d’autres souhaitent consommer mieux et s’engager. Alors chez <span>Potes'agers on se bouge contre le gaspillage !</span></p>
        <div class="button-flex d-flex flex-column justify-content-center w-25">
			<a href="/category" class="btn" role="button">Je cherche</a>
			<a href="/login" class="btn mt-1" role="button">Je partage</a>
		        <div class="testimg">
            <img src="https://thefoodassembly.com/fr/p/assets/images/homepage-basket/basket-summer-fr-FR-0221.svg" alt="">
        </div>
        </div>
{% endblock %}
