{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="text-center mt-5 page-title w-75 mx-auto">
        <img src="https://www.wearephenix.com/wp-content/themes/phenix/assets/img/decorations/triforce-yellow.svg" alt=""
            class="details-yellow1">Donnez, récupérez et cultivez gratuitement autour de chez-vous
    </h1>
    <div class="homecontent">
        <img src="https://www.wearephenix.com/wp-content/themes/phenix/assets/img/decorations/doubletroubles-yellow.svg" alt="" class="details-yellow2">
        <p class="mt-5 text-center">Voilà le topo : des tonnes de produits sont gaspillés tous les jours, des millions de Français n’ont pas assez, <br/>d’autres souhaitent consommer mieux et s’engager. Alors chez <span>Potes'agers on se bouge contre le gaspillage !</span></p>
        <div class="mt-5 w-100 d-flex flex-column justify-content-center align-items-center">
            <a href="/category" class="btn" role="button">Je cherche</a>
            <a href={{ session.user ? "/products/add" : "/login" }}  class="btn mt-1" role="button">Je partage</a>
        </div>
    </div>
{% endblock %}
