{% extends 'layout.html.twig' %}

{% block content %}
	<div class="category">
        <h1 class="text-center mt-5 page-title w-75 mx-auto">
            <img src="https://www.wearephenix.com/wp-content/themes/phenix/assets/img/decorations/triforce-yellow.svg"
                 alt="" class="details-yellow1">
            Ici tu as le choix de récupérer de la nourriture ou bien de partager un potager :
        </h1>
		<div class="categorycontent">
			<img src="https://www.wearephenix.com/wp-content/themes/phenix/assets/img/decorations/doubletroubles-yellow.svg" alt="" class="details-yellow2">
			<div class="mt-5 w-100 d-flex flex-column justify-content-center align-items-center">
            {% for category in categories %}
                <a href="/products/?category_id={{ category.id }}" class="btn mt-2" role="button">{{ category.name }}</a>
            {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
