.footer-brand>img {
    height: auto;
    width: auto;
    max-width: 70px;
    max-height: 70px;

}

.social-link {

    color: white;
}
.social-links {

    justify-content: flex-end;
}

.social-link:hover {

    color: var(--bs-yellow);
}
