#map{
    height: 50vh;
}

.accordion {
    background-color: var(--bs-button);
}

.product-img{
    height: 250px;
    width: 200px;
    border-radius: 10px;
}

.p-size{
    font-size: 1.4rem;
}

.product-contact{
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.round{
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgb(38, 37, 37);
}

.accordion-button.collapsed, .accordion-item{
     background-color: var(--bs-button);
    border-radius: 10px;
}

.accordion-button::after {
    margin-left: 0;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-button);
}

.accordion-button:focus {
    border-color:  initial;
    box-shadow: initial;
}

.accordion-item {
    padding: 0 0;
}

.accordion-button {
    background: white;
    border-radius: 50%;
}
