/* @import vers les feuilles de styles */
@import './_nav.css';
@import './_footer.css';
@import '_products.css';
@import './_index.css';
@import './_category.css';
@import './_form.css';
@import './_product-show.css';
@import './_login.css';
@import './_register.css';


/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant:wght@300&family=Monoton&family=Open+Sans:wght@300&family=Roboto:wght@900&family=Source+Sans+Pro:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');


/* Couleurs */
:root {
    --bs-blue: #0c879a;
    --bs-yellow: #ffd350;
    --bs-gray: #f7f7f7;
    --bs-button: #ff625a;
    --bs-buttonhover: #e35337;
}

body {
    /* display: flex; */
    background-color: var(--bs-gray);
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .9rem;
}


a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: var(--bs-gray-900);
}

a:hover {
    color: var(--bs-blue);
}


/* page login.html.twig */
.size-img {
    width: 250px;
}

/* page register.html.twig and login.html.twig */
.error-register {
    font-family: 'Archivo Black', sans-serif;
    color: var(--bs-gray-900);
    display: flex;
    justify-content: center;
}

.error-list {
    list-style-type: none;
    color: var(--bs-blue);
}


.img-category {
    width: 30rem;
}

