/* @import vers les feuilles de styles */
@import './_index.css';

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant:wght@300&family=Monoton&family=Open+Sans:wght@300&family=Roboto:wght@900&family=Source+Sans+Pro:wght@600;900&display=swap');

/* Couleurs */
:root {
    --bs-blue: #0c879a;
    --bs-yellow: #ffd350;
    --bs-gray: #f7f7f7;
    --bs-button: #ff625a;
    --bs-buttonhover: #e35337;
}

body {
    display: flex;
    background-color: var(--bs-gray);
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

