<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #0c879a">
	<div class="container-fluid">
		<a class="navbar-brand col-2-me" href="/">
			<img class="img-fluid navbar-brand collapse navbar-collapse" src="/assets/images/logo.png" alt="logo_potes_agers" width="30%">
		</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

		<ul class="navbar-nav collapse navbar-collapse flex-row justify-content-around col-8">

			<li class="nav-item">
				<a class="nav-link text-white fs-5" href="/search">Je recherche</a>
			</li>
            <li class="nav-item">
				<a class="nav-link text-white fs-5" href="/share">Je partage</a>
			</li>

	<a class="navbar-nav col-2-ms" href="/login">
		<img src="/assets/images/logo_user.png" alt="logo_user" width="40" height="40">
        </a>
</div></nav>




{#
<nav class="navbar navbar-expand-lg sticky-top navbar-dark"style="background-color: #0c879a">
  <a class="navbar-brand" href="#"><img class="img-fluid navbar-brand collapse navbar-collapse" src="/assets/images/logo.png" alt="logo_potes_agers" width="120px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" href="#">Je  <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link disabled" href="/login"><img src="/assets/images/logo_user.png" alt="logo_user" width="40" height="40"></a>
    </div>
  </div>
</nav>
 #}





{# <nav class="navbar navbar-expand-lg bg-primary shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img alt="Brand" src="/assets/images/logo_blue.png" class="img-responsive" /></a>
    <a class="navbar-brand" href="/">SerialSeries</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% set navigation = [
            {
              title: 'Home',
              url: '/',
            },
            {
              title: 'Category',
              url: '/category',
            },
            {
              title: 'Edit your serie !',
              url: '/serie/add',
            },

          ] %}
[20:01]
</ul>
      </div>
    </div>
  </div>
</nav>
 #}



